body{
    background-color: #F8F0E5;
}
nav{
    background-color: #C2DEDC;
}
.logo-nav{
    color: #116A7B;
    font-size: 2rem;
    font-weight: bold;
}
.text-nav{
    color:#116A7B;
    font-size: 1.5rem;
}

h1{
    color:#102C57;
}
p{
    color:#102C57;
}

.boton-sitios-interes{
    text-decoration: none;
    color: #fff;
}
.titulo-1{
    color: #116A7B;
    font-size: 3rem;
    letter-spacing: 0.5px;
    text-transform: uppercase;
}
.texto-1{
    color: #102C57;
    font-size: 2rem;
    letter-spacing: 3px;
}
.contenedor-main{
    background-color: #F8F0E5;
}

.card{
    border: none;
    background-color: #C2DEDC;
}
.img{
    width: 100%;
    height: 250px;
    overflow: hidden;
    object-fit: cover;
}
.card-text{
    font-size: 1.2rem;
}
.card-badge{
    font-size: 1rem;
}
.valoracion{
    font-size: 1.5rem;
}
.btn-tarjeta{
    background-color: #102C57;
    border-radius: 20px;
    color: white;
    font-weight: bold;
    border: none;
}

.btn-tarjeta:hover{
    background-color: #116A7B;
    color: #F8F0E5;
    font-weight: bold;
}

footer{
    background-color: #116A7B;
}
.footer-title{
    color: #F8F0E5;
    font-size: 1.2rem;
}
.footer-link{
    text-decoration: none;
    color: #F8F0E5;
    font-size: 1.2rem;
}
.footer-text{
    color: #F8F0E5;
}


